
.container{
    padding-left: 2vw;
    padding-right: 7vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

.main{
    position: relative;
    /* padding-bottom: 25vh; */

    width: 100%;
    margin-top:20vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3em;
    padding-left: 5vw;
    padding-right: 8vw;
    justify-content: center;
    
}

@media (max-width: 770px) {
    .container{
        padding-right: 10vw;
        padding-left: 10vw;

    }


    .main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3em;
        padding-left: 5vw;
        padding-right: 8vw;
        justify-content: center;
        margin-bottom: 7vh;
    }
  }